*.background:	#080B14
*.color0:	#080B14
*.color1:	#1D476C
*.color10:	#2D4674
*.color11:	#B13F63
*.color12:	#2F5A97
*.color13:	#4C5E9D
*.color14:	#406AC4
*.color15:	#9ec6e5
*.color2:	#2D4674
*.color3:	#B13F63
*.color4:	#2F5A97
*.color5:	#4C5E9D
*.color6:	#406AC4
*.color66:	#080B14
*.color7:	#9ec6e5
*.color8:	#6e8aa0
*.color9:	#1D476C
*.foreground:	#9ec6e5
*background:	#080B14
*color0:	#080B14
*color1:	#1D476C
*color10:	#2D4674
*color11:	#B13F63
*color12:	#2F5A97
*color13:	#4C5E9D
*color14:	#406AC4
*color15:	#9ec6e5
*color2:	#2D4674
*color3:	#B13F63
*color4:	#2F5A97
*color5:	#4C5E9D
*color6:	#406AC4
*color66:	#080B14
*color7:	#9ec6e5
*color8:	#6e8aa0
*color9:	#1D476C
*foreground:	#9ec6e5
URxvt*background:	[100]#080B14
URxvt*borderColor:	[100]#080B14
URxvt*cursorColor:	#9ec6e5
URxvt*depth:	32
URxvt*foreground:	#9ec6e5
UXTerm*background:	#080B14
UXTerm*cursorColor:	#9ec6e5
UXTerm*foreground:	#9ec6e5
XClock*background:	#080B14
XClock*foreground:	#9ec6e5
XClock*hourColor:	rgba:9e/c6/e5/ff
XClock*majorColor:	rgba:9e/c6/e5/ff
XClock*minorColor:	rgba:9e/c6/e5/ff
XClock*minuteColor:	rgba:9e/c6/e5/ff
XClock*secondColor:	rgba:9e/c6/e5/ff
XTerm*background:	#080B14
XTerm*cursorColor:	#9ec6e5
XTerm*foreground:	#9ec6e5
emacs*background:	#080B14
emacs*foreground:	#9ec6e5
